#contentList{
    text-align: left;
    font-size: 3em;
    color: #6096ba;
    margin-bottom: 1.5vh;
}
h2{
  padding-top: 3vh;
}
img{
  width: 60%;
  height: 60vw;
  margin-left: 17.5%;
  border: 10px solid #464655;
}
